
{% extends 'main/index.html' %}
{% load mathfilters %}
<html>
    {% block content %}
    <body>
        {% if shoppingCartMessage != "" %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Course Not Added</strong> {{shoppingCartMessage}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        <div class="d-flex ms-3 me-5">
            <div class="mt-4 flex-fill">
                <ul style="list-style-type: none;">
                {% for class in course_list_nodup %}
                    <li class="my-2 d-flex" style="background-color:rgb(230, 230, 230); width: 85%;">
                        <a href="https://thecourseforum.com/course/{{ class.subject }}/{{ class.catalog_number }}/" 
                        title="View TCForum" style="background-color:lightskyblue; color:black;" class="py-1 px-2 fs-4 me-0 d-inline-block">{{ class.subject }}{{ class.catalog_number }}</a>
                        <div style="background-color:slateblue" class="d-inline-block py-1 fs-4 px-3 flex-fill text-white">{{ class.description }}</div>
                    </li>
                    {% for classinfo in course_list %}
                        {% comment %} this is one section of the class therefore we are going to print some info about it {% endcomment %}
                        {% if classinfo.catalog_number == class.catalog_number %}
                        <div class='ps-2 py-1'
                            style="background-color: {% if forloop.counter|divisibleby:2 %}lightcyan
                                {% else %} rgb(255, 221, 153) {% endif %}; width:85%;">
                                <div class="d-inline">{{ classinfo.course_number  }}</div> 
                                <div class="d-inline">{{ classinfo.instructor.name  }}</div>  
                                <div class="d-inline">{{ classinfo.enrollment_total }}/{{ classinfo.class_capacity }}</div> 
                                <div class="d-inline">{{ classinfo.meetings.days  }}</div>
                                {% comment %} #array access in django template with .index {% endcomment %}
                                <div class="d-inline">{{ classinfo.meetings.0.days  }}</div>
                                <div class="d-inline">{{ classinfo.meetings.0.start_time|slice:":5"  }} - {{ classinfo.meetings.0.end_time|slice:":5"  }}</div>
                                <div class="d-inline">{{ classinfo.meetings.0.facility_description  }}</div>
                                <div class="d-inline">{{ classinfo.component        }}</div>
                                <div class="d-inline">({{ classinfo.units            }} Credits)</div>
                                {% if user.is_authenticated %}
                                    <div class='float-end'>
                                        <a href="/main/coursecatalog/addclass/{{class.subject}}/{{classinfo.course_number}}/1/" class='text-success me-3' id="addCourse">Add to Cart</a>
                                    </div>
                                {%endif%}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </ul>
            </div>
            {% if user.is_authenticated %}
            <div class='mt-4 me-5' style="width:23%; height:10%; position:sticky; top:100px;" id='shoppingCart'>
                <div class='text-white text-center px-3 py-1 fw-bold mt-2' style='background-color:darkblue;'>  <i class='bx bx-cart' style= "margin-top: 3px; margin-right: 5px;"></i> Shopping Cart || {{creditAmount}} Credits</div>
                    {% for classAdded in classesInCart %}
                        <div class='text-center py-1' style="background-color:lightgray;">{{classAdded.department}} {{classAdded.catalogNumber}} ({{classAdded.lectureType}}) {{classAdded.meeting_days}}: {{classAdded.start_time|slice:":5"}}-{{classAdded.end_time|slice:":5"}}
                        
                        {% comment %} coming from 1  {% endcomment %}
                        <a href="/main/coursecatalog/removeclass/{{classAdded.department}}/{{classAdded.id}}/1/" class="float-end me-4 fw-bold" id="removeClass">X</a></div>
                    {% comment %} If the list is empty {% endcomment %}
                    {% empty %}
                        <div class='p-2 text-center' style="background-color:lightgray;">Your shopping cart is empty.</div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </body>
    {% endblock content %}
</html>