
{% extends 'main/index.html' %}
{% load mathfilters %}

<html>
    {% block content %}
    <body>
        <div class="container mt-5">
            <ul style="list-style-type: none;">
            {% for class in course_list_nodup %}
                <li class="my-3">
                    <a href="https://thecourseforum.com/course/{{ class.subject }}/{{ class.catalog_number }}/" 
                    title="View TCForum" style="background-color:lightskyblue; color:black;" class="py-1 px-2 fs-4 me-0 d-inline-block">{{ class.subject }}{{ class.catalog_number }}</a>
                    <div style="background-color:slateblue" class="d-inline-block py-1 fs-4 px-3 w-50">{{ class.description }}</div>
                </li>
                {% for classinfo in course_list %}
                <div>
                    {% comment %} this is one section of the class therefore we are going to print some info about it {% endcomment %}
                    {% if classinfo.catalog_number == class.catalog_number %}
                        <div class="d-inline">{{ classinfo.course_number    }}</div>
                        <div class="d-inline">{{ classinfo.course_section   }}</div>
                        <div class="d-inline">{{ classinfo.component        }}</div>
                        <div class="d-inline">{{ classinfo.units            }} Credits</div>
                        <div class="d-inline">{{ classinfo.enrollment_total|sub:classinfo.enrollment_available}}/{{ classinfo.enrollment_total }}</div> 
                        <div class="d-inline">{{ classinfo.instructor.name  }}</div>  
                        <div class="d-inline">{{ classinfo.meetings.days  }}</div>
                        {% comment %} #array access in django template with .index {% endcomment %}
                        <div class="d-inline">{{ classinfo.meetings.0.days  }}</div>
                        <div class="d-inline">{{ classinfo.meetings.0.start_time  }} - {{ classinfo.meetings.0.end_time  }}</div>
                        <div class="d-inline">{{ classinfo.meetings.0.facility_description  }}</div>
                    {% endif %}
                </div>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    </body>
    {% endblock %}
</html>