{% extends 'main/index.html' %}
    {% block content %}
    <h1 class="text-center"> {{theUser.name}}'s Friends &nbsp <i class="fas fa-user-friends" style="font-size:50px;"></i></h1>
    {% for friend in allFriends %}
    <div class="profileBorder">
        {% comment %} Add a back button if the user is looking at someone else profile {% endcomment %}
        <h1 class="text-center">{{ friend.name }}</h1>
        {% comment %} Displays each users profile and their friends {% endcomment %}
        <p class='my-1 fw-bold d-inline-block'>Friends: <a href='/main/friends/{{friend.id}}/' style='color:33658A;'>{{friend.numFriends}}</a></p>
        <div>
            <p class='my-1 d-inline-block'> <b>Email: </b> {{friend.email}}</p>
            <br>
            <p class='my-1 d-inline-block'> <b> Major: </b> {{friend.major}}</p>
            <p class='my-1 fd-inline-block'> <b>Graduation Year: </b>{{friend.graduationYear}}</p>
        </div>
        <p class='my-1 fw-bold'>Summary:</p>
        <p class="border border-dark rounded-3 p-2">{{ friend.summary }}</p>
        
        {% comment %} Viewing a friends schedule {% endcomment %}
        <a class="fw-bold" style='color:33658A;' href="/main/viewschedule/{{friend.id}}/">View Schedule</a>
    </div>
        {% endfor %}

    {% endblock content %}
    