{% extends 'main/index.html' %}

<html>
    {% block content %}
    <body>
        {% if shoppingCartMessage != "" %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Course Not Added</strong> {{shoppingCartMessage}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        <div class="centerDivElement">  
            <h1 class="centerDivElement"> My Schedule &nbsp <i class="fa fa-calendar" aria-hidden="true" style= "margin-top: 3px; margin-right: 5px;"></i> </h1>
        </div>
        <div class="d-flex ms-3 me-5">
            {% if user.is_authenticated %}
            <div class="mt-4 flex-fill">
                <ul style="list-style-type: none;">
                    {% for day, classesList in schedule_courses.items %}
                        <div class='ps-2 py-1'
                                    style="background-color: {% if forloop.counter|divisibleby:2 %}lightcyan
                                        {% else %} rgb(255, 221, 153) {% endif %}; width:85%;">
                                        <h3> {{day}}</h3>
                                        {% for classinfo in classesList %}
                                        <li>
                                            <div class="d-inline">{{ classinfo.department  }}</div> 
                                            <div class="d-inline">{{ classinfo.catalogNumber  }} ({{classinfo.lectureType}}):</div> 
                                            <div class="d-inline">{{ classinfo.description  }} :</div> 
                                            <div class="d-inline">{{ classinfo.start_time|slice:":5"}} - {{classinfo.end_time|slice:":5"}}</div>  
                                            <div class="d-inline">({{ classinfo.credits}} Credits)</div>
                                            <a href="/main/myschedule/removefromschedule/{{classinfo.id}}" style="color: black" class="float-end me-4 fw-bold" id="removeFromSchedule">Put Back in Cart</a>
                                        </li>
                                        {%endfor%}
                        </div>
                    {% endfor %}
                </ul>
            </div>
            <div class='mt-4 me-5' style="width:23%; height:10%; position:sticky; top:100px;" id='shoppingCart'>
                <div class='text-white text-center px-3 py-1 fw-bold mt-2' style='background-color:darkblue;'>  <i class='bx bx-cart' style= "margin-top: 3px; margin-right: 5px;"></i>Shopping Cart</div>
                    {% for classAdded in classesInCart %}
                        <div class='text-center py-1' style="background-color:lightgray;">{{classAdded.department}} {{classAdded.catalogNumber}} ({{classAdded.lectureType}}) {{classAdded.meeting_days}}: {{classAdded.start_time|slice:":5"}}-{{classAdded.end_time|slice:":5"}}
                        <a href="/main/coursecatalog/removeclass/{{classAdded.department}}/{{classAdded.id}}/2" class="float-end me-4 fw-bold" id="removeClass">X</a></div>
                    {% comment %} If the list is empty {% endcomment %}
                    {% empty %}
                        <div class='p-2 text-center' style="background-color:lightgray;">Your shopping cart is empty.</div>
                    {% endfor %}
                    {% if classesInCart %}
                    <div class="mt-4 mx-auto" style="width: 40%;">
                        <div class="cart">
                            <a href="/main/myschedule/addtoschedule" title="" class="btn" style="background-color:#ed874e; font-weight:700; text-white;"> Add to Schedule</i></a>
                    </div>
                </div>
                    {% comment %} Showing comments other users have posted abt your schedule {% endcomment %}
                <div class="ms-5">
                    <h3 style='color: mediumslateblue'>User Comments</h3>
                </div>
                    {% if hasComment %}
                        <div class="border border-dark border-2 rounded-2 w-75 ms-5 mb-3 p-1">
                            {% for comment in allComments %}
                                <div class="bg-gradient p-1 mt-1 rounded-top" style="background-color: mediumslateblue">{{ comment.author }}</div>
                                <div class="p-1 mb-2 rounded-bottom" style="background-color: lightskyblue;">{{ comment.commentBody }}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class='fw-bold ms-5'>Your schedule has no comments. Ask your friends to be your first comment!</p> 
                    {% endif %}
                {%endif%}
                </div>
            </div>
            {%else%}
            <h1> My Schedule is only available for CourSelect Account Holders. <br> Login or Create an Account
            <a href="/accounts/google/login" style="color: blue">  Here</a></h1>
            {% endif %}

        </div>

    </body>
    {% endblock content %}
</html>