<!--
    https://www.w3schools.com/howto/howto_css_dropdown.asp = siting how to make a dropdown menu
    https://www.w3schools.com/howto/howto_js_dropdown.asp = How to make to drop down menu clickable
-->
{% extends 'main/index.html' %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    {% block content %}
    <h1>
        Course Search
    </h1>
    <form name="depSelect" method="GET">
            <select name="depSelect" onchange="this.form.submit()">
                <option selected="selected" disabled>Departments</option>
                {% for dep in department_results %}
                    <option value="{{dep.abbreviation}}" {%if department == dep.abbreviation%} selected {%endif%} >{{dep.abbreviation}}</option>
                {% endfor %}
            </select>
            <select name = "instructor" {%if noDepartment%} disabled {%endif%}>
                <option selected="selected" value="none"> Instructor</option>
                {% for instructor in instructors %}
                    <option value="{{instructor}}" {%if instructorChosen == instructor%} selected {%endif%}>{{instructor}}</option>
                {% endfor %}
            </select>
            <select name = "classType" {%if noDepartment%} disabled {%endif%}>
                <option selected="selected" value = "none"> Class Type</option>
                <option value="LAB" {%if classTypeChosen == "LAB" %} selected {%endif%} >Lab</option>
                <option value="LEC" {%if classTypeChosen == "LEC" %} selected {%endif%} >Lecture</option>
                <option value="IND" {%if classTypeChosen == "IND" %} selected {%endif%} >Independent Study</option>
            </select>
            <select name = "credits" {%if noDepartment%} disabled {%endif%}>
                <option selected="selected" value = "none"> Credits</option>
                <option value="1" {%if creditsChosen == "1" %} selected {%endif%} >1</option>
                <option value="2" {%if creditsChosen == "2" %} selected {%endif%} >2</option>
                <option value="3" {%if creditsChosen == "3" %} selected {%endif%} >3</option>
            </select>
            <input type="submit" {%if noDepartment%} disabled {%endif%} name="submitbtn" value="Select">
    </form>

    <div class="d-flex ms-3 me-5">
        <div class="mt-4 flex-fill">
            <ul style="list-style-type: none;">
            {% for class in course_list_nodup %}
                <li class="my-2 d-flex" style="background-color:rgb(230, 230, 230); width: 85%;">
                    <a href="https://thecourseforum.com/course/{{ class.subject }}/{{ class.catalog_number }}/"
                    title="View TCForum" style="background-color:lightskyblue; color:black;" class="py-1 px-2 fs-4 me-0 d-inline-block">{{ class.subject }}{{ class.catalog_number }}</a>
                    <div style="background-color:slateblue" class="d-inline-block py-1 fs-4 px-3 flex-fill">{{ class.description }}</div>
                </li>
                {% for classinfo in course_list %}
                    {% comment %} this is one section of the class therefore we are going to print some info about it {% endcomment %}
                    {% if classinfo.catalog_number == class.catalog_number %}
                    <div class='ps-2 py-1'
                        style="background-color: {% if forloop.counter|divisibleby:2 %} lightcyan
                        {% else %} rgb(255, 221, 153) {% endif %}; width:85% ; ">
                        <div class="d-inline">{{ classinfo.course_number  }}</div> 
                        <div class="d-inline">{{ classinfo.instructor.name  }}</div>  
                        <div class="d-inline">{{ classinfo.enrollment_total }}/{{ classinfo.class_capacity }}</div> 
                        <div class="d-inline">{{ classinfo.meetings.days  }}</div>
                        {% comment %} #array access in django template with .index {% endcomment %}
                        <div class="d-inline">{{ classinfo.meetings.0.days  }}</div>
                        <div class="d-inline">{{ classinfo.meetings.0.start_time|slice:":5"  }} - {{ classinfo.meetings.0.end_time|slice:":5"  }}</div>
                        <div class="d-inline">{{ classinfo.meetings.0.facility_description  }}</div>
                        <div class="d-inline">{{ classinfo.component        }}</div>
                        <div class="d-inline">({{ classinfo.units            }} Credits)</div>
                        {% if user.is_authenticated %}
                            <div class='float-end'>
                                <a href="#" class='text-success me-3' id="addCourse">Add to Cart</a>
                            </div>
                        {%endif%}
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% if not course_list_nodup and not noDepartment%} <h2> No courses found </h2> {%endif%}
            </ul>
        </div>
        {% if user.is_authenticated and course_list_nodup%}
            <div class='mt-4 me-5' style="width:15%; height:10%; position:sticky; top:100px;" id='shoppingCart'>
                <div class='text-white text-center px-3 py-1 fw-bold mt-2' style='background-color:darkblue;'>  <i class='bx bx-cart' style= "margin-top: 3px; margin-right: 5px;"></i>Shopping Cart</div>
                    {% for classAdded in classesInCart %}
                        <div class='text-center py-1' style="background-color:lightgray;">{{classAdded.department}} {{classAdded.catalogNumber}} ({{classAdded.id}})
                        <a href="/main/coursecatalog/removeclass/{{classAdded.department}}/{{classAdded.id}}/" class="float-end me-4 fw-bold" id="removeClass">X</a></div>
                    {% comment %} If the list is empty {% endcomment %}
                    {% empty %}
                        <div class='p-2 text-center' style="background-color:lightgray;">Your shopping cart is empty.</div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
    {% endblock content %}
    </body>
</html>